/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(120deg, #fbc4ab, #ff9a8b);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents tiling */
  display: flex;
  justify-content: space-around;
  margin: 0px;
  flex-direction: row;
  text-align: center;
}

.score-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

/* .difficulty-modal {
  display: none;
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
} */

.modal-content span {
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.container {
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: antiquewhite;
  font-family: sans-serif;
}

.content {
  margin: 8px;
  max-height: 70vh; /* Uses the smaller of viewport width or height */
  max-width: 70vw;
  min-height: 30px;
  min-width: 30px;
  aspect-ratio: 1 / 1;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(45deg, #ff9a8b, #fbc4ab);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

h3 {
  display: inline-flex;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#score {
  margin-top: 10px;
  align-self: center;
  font-size: 48px;
  font-weight: bold;
  color: #fffbf5;
  padding: 15px 30px;
  border-radius: 15px;
  background: linear-gradient(45deg, #ff9a8b, #fbc4ab);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect */
#score:hover {
  transform: scale(1.1);
}

/* Animation for pop-up effect */
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#score {
  animation: pop 0.5s ease-out;
}

@media screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }
}
